---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <header>
      <nav>
        <ul style="display: flex; list-style-type: none; padding: 0; background-color: #f8f9fa; border-bottom: 1px solid #e9ecef;">
          <li style="margin-right: 20px;"><a href="#about-me" style="text-decoration: none; color: #0056b3;">About Me</a></li>
          <li style="margin-right: 20px;"><a href="#research-interests" style="text-decoration: none; color: #0056b3;">Research Interests</a></li>
          <li style="margin-right: 20px;"><a href="#services" style="text-decoration: none; color: #0056b3;">Services</a></li>
          <li style="margin-right: 20px;"><a href="#education" style="text-decoration: none; color: #0056b3;">Education</a></li>
          <li style="margin-right: 20px;"><a href="#experience" style="text-decoration: none; color: #0056b3;">Experience</a></li>
          <li style="margin-right: 20px;"><a href="#projects-publications" style="text-decoration: none; color: #0056b3;">Projects & Publications</a></li>
        </ul>
      </nav>
    </header>


    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
